@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');
body, td
{
    margin-left:100px;
    margin-right:100px;
    font-family: 'Inconsolata', monospace;
    font-weight: 400;
    font-size: 11pt;
    color:#212121;
    background-color: #ECEFF1;
}

h2,h3
{
  font-family: 'Inconsolata', courier;
  font-weight:700;
}
A:link, A:visited
{
    color: #D50000;
}
A:active, A:hover
{
    color: #212121;
}
A.spoiler
{
    color: white;
}

A.hl_link:link {
    text-decoration: none;
    color: black;
}

A.hl_link:visited {
    text-decoration: none;
    color: black;
}

A.hl_link:hover {
    text-decoration: underline;
    color: black;
}

A.hl_link:active {
    text-decoration: underline;
    color: black;
}

pre.normal
{
    font-family: monospace, sans-serif;
    border: 1px dashed #2f6fab;
    color: black;
    background-color: #FAFAFA;
    line-height: 1.1em;
    padding: 15px 20px 15px 20px;
    border-radius: 0px;
}
pre.spoiler
{
    font-family: monospace, sans-serif;
    color: white;
    background-color: white;
}
p.right 
{
    text-align: right;
}

p.spoiler 
{
    color: white;
}

kbd 
{
  /* copypasted from stackoverflow */
  padding: 0.1em 0.6em;
  border: 1px solid #ccc;
  font-size: 11px;
  font-family: Arial,Helvetica,sans-serif;
  background-color: #f7f7f7;
  color: #333;
  -moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
  -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  margin: 0 0.1em;
  text-shadow: 0 1px 0 #fff;
  line-height: 1.4;
  white-space: nowrap;
}

blockquote
{
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

.ImageBorder
{
    border: 1px solid black;
}
.hidden
{
      display: none;
}
